{
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "displayName": true,
                "meaninglessFileNames": [
                    "index"
                ]
            }
        ]
    ]
}