button {
  border: none;
  margin: 0;
  line-height: 1em;
  font-family: Pretendard;
  font-weight: 600;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button.tiny {
  padding: 10px 4px;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
}

button.small {
  padding: 0 16px;
  font-size: 1rem;
  font-weight: 400;
  height: 36px;
  border-radius: 18px;
}

button.primary {
  color: white;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

button.secondary {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

button.minimal {
  color: var(--color-primary);
  background-color: none;
}
