/* Pretendard */

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-Thin.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-Light.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-Regular.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-Medium.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-Bold.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: Pretendard;
  src: url('../fonts/Pretendard/Pretendard-Black.woff2') format('woff2'),
    url('../fonts/Pretendard/Pretendard-Black.woff') format('woff');
  font-weight: 900;
}

/* Spoqa Han Sans Neo */

@font-face {
  font-family: SpoqaHanSansNeo;
  src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2')
      format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.eot')
      format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: SpoqaHanSansNeo;
  src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2')
      format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.eot')
      format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: SpoqaHanSansNeo;
  src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2')
      format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot')
      format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf')
      format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: SpoqaHanSansNeo;
  src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2')
      format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot')
      format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf')
      format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: SpoqaHanSansNeo;
  src: url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2')
      format('woff2'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.eot')
      format('embedded-opentype'),
    url('../fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf') format('opentype');
  font-weight: 700;
}

/* Avenir */

@font-face {
  font-family: AvenirLTStd;
  src: url('../fonts/Avenir/AvenirLTStd-Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: AvenirLTStd;
  src: url('../fonts/Avenir/AvenirLTStd-Book.otf');
  font-weight: 300;
}

@font-face {
  font-family: AvenirLTStd;
  src: url('../fonts/Avenir/AvenirLTStd-Roman.otf');
  font-weight: 400;
}

@font-face {
  font-family: AvenirLTStd;
  src: url('../fonts/Avenir/AvenirLTStd-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: AvenirLTStd;
  src: url('../fonts/Avenir/AvenirLTStd-Heavy.otf');
  font-weight: 700;
}

@font-face {
  font-family: AvenirLTStd;
  src: url('../fonts/Avenir/AvenirLTStd-Black.otf');
  font-weight: 900;
}
