.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transition: transform 150ms ease-in-out;
  transform: scale(1, 1);
}

.RouteModal__Portal,
.NotiModal__Portal {
  position: relative;
}

.RouteModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.RouteModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: visible;
  border-radius: 10px;
  outline: none;
  padding: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 16px);
}

.RouteModal__Content-container {
  flex-grow: 1;
  overflow: auto;
}

.RouteModal__Content-container.small {
  width: min(100vw, 552px);
  padding: 16px 24px;
}

.RouteModal__Content-container.fullscreen {
  width: calc(100vw - 160px);
  height: calc(100vh - 160px);
}

.NotiModal__Content {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 384px;
  height: 400px;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.NotiModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

@media only screen and (max-width: 680px) {
  .RouteModal__Content {
    width: auto;
    max-width: none;
    transform: none;
    position: absolute;
    top: 32px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
}
