@import url('./styles/fonts.css');
@import url('./styles/views.css');
@import url('./styles/button.css');
@import url('./styles/input.css');
@import url('./styles/modal.css');

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #3d81f5; /* Figma: B2 */
  --color-secondary: #eef4ff; /* Figma: B1 */
  --content-bg-color: #f7f9fd; /* Figma: B3 */
  --color-g1: #242424;
  --color-g2: #5a5a5a;
  --color-g3: #6a6a6a;
  --color-g5: #888888;
  --color-g6: #b1b1b1;
  --color-g7: #c4c4c4;
  --color-g8: #dedede;
  --color-g9: #f0f0f0;
  --color-yellow: #ffd704;
  --color-red: #e95751;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: white;

  font-family: Pretendard, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Webkit: Chrome, Safari, Opera */
}
