@import url('./styles/fonts.css');
@import url('./styles/views.css');
@import url('./styles/button.css');
/* @import url('./styles/input.css'); */

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #ffffff;
  --bg-color-primary: #3d81f5;
  --color-secondary: #3d81f5;
  --bg-color-secondary: #eef4ff;
  --color-disabled: #c4c4c4;
  --bg-color-disabled: #f5f5f5;
  --color-success: #ffffff;
  --bg-color-success: #028617;
  --color-danger: #ffffff;
  --bg-color-danger: #e55b5b;
  --color-light: #3d81f5;
  --bg-color-light: #d8e6fd;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: white;

  font-family: Pretendard, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Webkit: Chrome, Safari, Opera */
}
